@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
* {
    font-family: 'Work Sans', sans-serif !important;
}
.slide-toggle-enter-active,
.slide-toggle-leave-active {
    transition: max-height 0.3s;
}
.slide-toggle-enter-active {
    max-height: 200px;
    overflow: hidden;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
    max-height: 0;
    overflow: hidden;
}
.slide-toggle-leave {
    max-height: 200px;
    overflow: hidden;
}

.ripple-primary {
    background-position: center;
    transition: background 0.25s;
}
.ripple-primary:hover {
    background: #0077ce radial-gradient(circle, transparent 1%, #0077ce 1%) center/15000%;
}
.ripple-primary:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.ripple-light {
    background-position: center;
    transition: background 0.25s;
}
.ripple-light:hover {
    background: #e2e8f0 radial-gradient(circle, transparent 1%, #e2e8f0 1%) center/15000%;
}
.ripple-light:active {
    background-color: #ffffff;
    background-size: 100%;
    transition: background 0s;
}

.ripple-outlined {
    background-position: center;
    transition: background 0.25s;
}
.ripple-outlined:hover {
    background: #0068b4 radial-gradient(circle, transparent 1%, #0068b4 1%) center/15000%;
}
.ripple-outlined:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}
